

div.code-toolbar{
    position:relative
}
div.code-toolbar>.toolbar{
    position:absolute;
    z-index:10;
    top:.3em;
    right:.2em;
    transition:opacity .3s ease-in-out;
    opacity:1
}

div.code-toolbar>.toolbar>.toolbar-item{
    display:inline-block
}
div.code-toolbar>.toolbar>.toolbar-item>a{
    cursor:pointer
}

/* feature styles for buttons */

/* icon copy */
div.code-toolbar>.toolbar>.toolbar-item>button > span
{
    color: transparent;
    background-color:#e6caa8;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zM5.003 8L5 20h10V8H5.003zM9 6h8v10h2V4H9v2z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
    mask-repeat: no-repeat no-repeat;
    mask-position: center right;
}

/* hide icon copy */
div.code-toolbar>.toolbar>.toolbar-item>button[data-copy-state=copy-success] > span ,
div.code-toolbar>.toolbar>.toolbar-item>button[data-copy-state=copy-success]:hover > span
{
    mask-image: none;
    color: #e6caa8;
    background-color: transparent;
}

/* color of "Copied!" */
.copy-to-clipboard-button[data-copy-state~=copy-success] span {
    color: #e6caa8;
}

/* text copy is hidden */
.copy-to-clipboard-button[data-copy-state=copy] span {
    color: transparent;
}

/* default item color */
div.code-toolbar>.toolbar>.toolbar-item {
   color: #e6caa8; 
}

/* remove toolbar items decoration*/
div.code-toolbar > .toolbar > .toolbar-item > a, 
div.code-toolbar > .toolbar > .toolbar-item > button, 
div.code-toolbar > .toolbar > .toolbar-item > span {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
/* end of style override for prismjs */
/*
div.code-toolbar > .toolbar > .toolbar-item > span {
	background: #ff0;
	border-radius: 0;
	padding: .5em;
	font-size: 1em;
	position: relative;
	top: -1em;
	margin-right: 2em;
}*/

#debug {
	border: 1px solid #555;
	padding: 5px 10px;
	margin: 10px 50px 5px;
}
#debug h2 {
	margin: 2px 5px;
	padding: 0px;
}
#debug h3 {
	background-color: #ffc;
	border: 1px solid #777;
	border-bottom: none;
	padding: 2px 8px;
	margin: 4px 40px 0px;
	cursor: pointer;
	color: #000;
}
#debug h3.closed {
	background-color: #999;
	border-bottom: 1px solid #777;
	margin-bottom: 10px;
}

#debug .debug_output {
	background-color: #333;
	overflow: auto;
	color: #fff;
}
#debug .closed {
	display: none;
	border: none;
}
#debug .open {
	display: block;
	border: 1px solid #333;
	border-top: none;
	margin: 0px 40px 4px;
	padding: 4px 10px;
}
#painfree_exec_time {
	font-size: 14px;
	font-weight: normal;
	margin-left: 25px;
	font-family: monospace;
}
